Description=I2C Channel Service
After=multi-user.target
 
[Service]
Type=simple
ExecStart= /usr/bin/python /usr/local/bin/i2c_channel_set.py
Restart=always
 
[Install]
WantedBy=multi-user.target
